.top-header {
    border-bottom: 1px solid #F4F6F9;
    background-color: white;
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      display: flex;
      align-items: center;
    }

}

